{% set entityName = entity|capitalize %}
{% set btnSunbmit = 'btnSubmit'~ entityName %}
{{ '{% set entityLabel = "' ~ entity ~ '" %}'}}
{{ '{% ui_dialog widgetVar="dlgShow'~ entity ~'" title="dlg.show.title"|trans({\'%name%\': entityLabel}) modal="true"
             close=js_function(\'$(this).dialog( "destroy" );$(this).remove();\') %}' }}

  <table class="record_properties">
    <tbody>
      {%- for field, metadata in fields %}

      <tr>
        <td><b>{{'{{"'}}{{ field|replace({'_': ' '})|title }}{{'"|trans}}'}}:</b></td>

          {%- if metadata.type in ['date', 'datetime'] %}

        <td>{{ '{{ entity.'~ field|replace({'_': ''}) ~'|date(\'Y-m-d H:i:s\') }}' }}</td>

          {%- else %}

        <td>{{ '{{ entity.'~ field|replace({'_': ''}) ~' }}' }}</td>

          {%- endif %}

      </tr>

      {%- endfor %}
      
      {%- for field, metadata in associationMappings %}

      <tr>
        <td><b>{{ field|replace({'_': ' '})|title }}:</b></td>
        <td>{{- '{% include "YepsuaCommonsBundle::toUL.html.twig" with { \'entities\' : entity.'~ field|replace({'_': ''}) ~'} %}' -}}</td>
      </tr>

      {%- endfor %}
      
    </tbody>
  </table>
{% if ('edit' in actions) or ('delete' in actions) %}

  <br/><br/>
  <hr class="ui-widget-content">
  {% endif %}
  {% if ('edit' in actions) %}
{{'
  {% ui_button class="crud-btn-submit" onclick="rc'~ entity ~'EditAgain()" value="action.edit"|trans %}
  {% remote_command update="#'~ entity|lower ~'Workspace" 
       beforeSend=js_function("dlgShow'~ entity ~'.wijdialog(\'destroy\');") 
       type="GET" 
       url=path("'~ route_name_prefix ~'_edit", { "id": entity.id }) 
       name="rc'~ entity ~'EditAgain" %}'}}
  {% endif %}
  {% if ('delete' in actions) %}
{{'
  {% ajax_form id="frmDelete'~ entity ~'"
       update="#'~ entity|lower ~'Workspace"
       action=path("'~ route_name_prefix ~'_delete", { "id": entity.id })
       method="DELETE"
       beforeSubmit=js_function("$(\'.'~ btnSunbmit ~'\').attr(\'disabled\',true);")
       complete=js_function("jqXHR","
         if (jqXHR.status == 200){
           $.pnotify(\'" ~ "msg.delete.success"|trans({\'%name%\': entityLabel}) ~ "\');
           dlgShow'~ entity ~'.wijdialog(\'destroy\');
           $(\'#'~ entity|lower ~'Grid\').trigger(\'reloadGrid\');
         }") 
  %}

    {{ form_widget(delete_form) }}
    {% ui_button class="crud-btn-submit '~ btnSunbmit ~'" type="submit" 
                 onclick="return confirm(\'" ~ "msg.delete.confirmation"|trans({\'%name%\': entityLabel }) ~ "\')" 
                 value="action.delete"|trans %}

  {% end_ajax_form %}' }}
  {% endif %}

{{'{% end_ui_dialog %}' }}